#letter1 {
  display: none;
}

#letter2 {
  display: none;
}

#love {
  color: red;
}

.text {
    text-shadow: -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

h1 {
  font-style: italic;
  font-weight: 600;
}
